.__s_select__.opened {}

.__s_select_panel__ {
    width: min-content;
    height: min-content;
    pointer-events: all;
    padding: 0;
    overflow: hidden;
    border-radius: var(--NormalRadius);
    overflow: hidden;
}