# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

res/*.vfs
res/*.vfs.gz
res/*.stl
res/*.obj
res/*.glb
res/*.png
res/*.jpg
res/*.jpeg
res/*.svg
src/system/fivepebble/ok-list.txt
src/system/filesystem/fs_saver_loader/FileSystemSaverLoader.d.mts
