.__editor_viewports_container__ {
    --EditorViewportGap: 3px;
    position: fixed;
    inset: 0;
}

.__editor_canvas_panel__ {
    position: absolute;
    overflow: hidden;
    /* outline: 2px solid red;
    outline-offset: -2px; */
    /* --CanvasBG: rgb(60, 60, 60); */
    /* --CanvasBG: rgb(240, 240, 240); */
    /* background: var(--CanvasBG); */
    /* border-radius: 10px; */
    /* margin: var(--EditorViewportGap); */
}