.__editor_viewports_container__ {
    /* --EditorViewportGap: 3px; */
    position: fixed;
    /* inset: var(--EditorViewportGtrueap); */
    inset: 0;
}

.__editor_canvas_panel__ {
    position: absolute;
    overflow: hidden;
    /* outline: 2px solid red;
    outline-offset: -2px; */
    --CanvasBG: rgb(168, 168, 168);
    background: var(--CanvasBG);
    /* border-radius: 10px; */
    /* margin: var(--EditorViewportGap); */
}