body {
    /* background-color: rgb(80, 80, 80); */
    background-color: rgb(240, 240, 240);
    font-family: sans-serif, Arial, Helvetica;
    user-select: none;
}

input,
button,
textarea {
    font-family: sans-serif, Arial, Helvetica;
}

.__s__ {
    --ThemeColor: rgb(70, 111, 214);
    /* --ThemeBaseColor: rgb(42, 42, 42);
    --ThemeDisabledBaseColor: rgb(200, 200, 200);
    --ThemeOppositeColor: rgb(40, 40, 40); */
    --ThemeBaseColor: rgb(255, 255, 255);
    --ThemeDisabledBaseColor: rgb(54, 54, 54);
    --ThemeOppositeColor: rgb(255, 255, 255);

    --DescriptionOpacity: 0.4;

    /* --ThemeBoxShadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25); */
    --ThemeBoxShadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);

    --ThemeDisabledBGColor: color-mix(in srgb, var(--ThemeBaseColor), var(--ThemeDisabledBaseColor) 6%);
    --ThemeDisabledColor: color-mix(in srgb, var(--ThemeBaseColor), var(--ThemeDisabledBaseColor) 22%);

    --SmallFontSize: 10px;
    --NormalFontSize: 12px;
    --MediumFontSize: 14px;
    --LargeFontSize: 16px;
    font-size: var(--NormalFontSize);
    color: var(--ThemeDisabledBaseColor);

    --NormalIconSize: 18px;
    --MediumIconSize: 22px;
    --LargeIconSize: 28px;

    --NormalPaddingSize: 3px;
    --MediumPaddingSize: 5px;
    --LargePaddingSize: 7px;

    --AdditionalPaddingSize: 4px;
    --NormalAdditionalPaddingSize: calc(var(--NormalPaddingSize) + var(--AdditionalPaddingSize));
    --MediumAdditionalPaddingSize: calc(var(--MediumPaddingSize) + var(--AdditionalPaddingSize));
    --LargeAdditionalPaddingSize: calc(var(--LargePaddingSize) + var(--AdditionalPaddingSize));

    --SeparatorSize: 2px;

    --ScrollBarSize: 6px;
    --ScrollBarTrackStartSize: 2px;
    --ScrollBarTrackEndSize: 6px;
    --ScrollBarTrackSize: calc(var(--ScrollBarTrackStartSize) + var(--ScrollBarSize) + var(--ScrollBarTrackEndSize));
    --ScrollContainerBarOffset: calc(var(--ScrollBarTrackStartSize) + var(--ScrollBarSize));

    --NormalMinSize: calc(var(--NormalIconSize) + var(--NormalPaddingSize) * 2);
    --MediumMinSize: calc(var(--MediumIconSize) + var(--MediumPaddingSize) * 2);
    --LargeMinSize: calc(var(--LargeIconSize) + var(--LargePaddingSize) * 2);

    --SquareRadius: 4px;
    --NormalRadius: 8px;
    --MediumRadius: 12px;
    --LargeRadius: 20px;

    --GapAndMargin: 5px;
    --FocusOutlineWidth: 3px;

    --ColorRed: rgb(248, 45, 78);
    --ColorGreen: rgb(4, 185, 115);
    --ColorBlue: rgb(70, 111, 214);
}

.__s__.__s_color__ {
    --SColorNormal: color-mix(in srgb, var(--ThemeBaseColor), var(--SColor) 10%);
    --SColorHover: color-mix(in srgb, var(--ThemeBaseColor), var(--SColor) 16%);
    --SColorActive: var(--SColor);
    --SColorActiveHover: color-mix(in srgb, var(--ThemeBaseColor), var(--SColor) 84%);
    --SColorActiveDisabled: color-mix(in srgb, var(--ThemeBaseColor), var(--SColor) 40%);
    --SColorFocus: color-mix(in srgb, transparent, var(--SColor) 30%);

    --STextColorNormal: color-mix(in srgb, var(--ThemeBaseColor), var(--STextColor) 10%);
    --STextColorHover: color-mix(in srgb, var(--ThemeBaseColor), var(--STextColor) 16%);
    --STextColorActive: var(--STextColor);
    --STextColorActiveHover: color-mix(in srgb, var(--ThemeBaseColor), var(--STextColor) 84%);
    --STextColorActiveDisabled: color-mix(in srgb, var(--ThemeBaseColor), var(--STextColor) 40%);
    --STextColorFocus: color-mix(in srgb, transparent, var(--STextColor) 30%);

    background-color: var(--SColorNormal);
    color: var(--SColor);
}

.__s__.__s_color__:hover {
    background-color: var(--SColorHover);
    color: var(--SColor);
}

.__s__.__s_color__.active,
.__s__.__s_color__:active {
    background-color: var(--SColorActive);
    color: var(--ThemeOppositeColor);
}

.__s__.__s_color__.active:hover {
    background-color: var(--SColorActiveHover);
    color: var(--ThemeOppositeColor);
}

.__s__.__s_color__:disabled {
    background-color: var(--ThemeDisabledBGColor);
    color: var(--ThemeDisabledColor);
}

.__s__.__s_color__.active:disabled {
    background-color: var(--SColorActiveDisabled);
    color: var(--ThemeOppositeColor);
}

.__s__.__s_color__:focus,
.__s__.__s_color__:focus-visible {
    outline-offset: 0px;
    outline: var(--FocusOutlineWidth) solid var(--SColorFocus);
}

.__s__[data-s-min-size="normal"] {
    min-height: var(--NormalMinSize);
}

.__s__[data-s-min-size="medium"] {
    min-height: var(--MediumMinSize);
}

.__s__[data-s-min-size="large"] {
    min-height: var(--LargeMinSize);
}

.__s__[data-s-text-size="inherit"] {
    font-size: inherit;
}

.__s__[data-s-text-size="small"] {
    font-size: var(--SmallFontSize);
}

.__s__[data-s-text-size="normal"] {
    font-size: var(--NormalFontSize);
}

.__s__[data-s-text-size="medium"] {
    font-size: var(--MediumFontSize);
}

.__s__[data-s-text-size="large"] {
    font-size: var(--LargeFontSize);
}