// sizes
size-small = 18px
size-normal = 26px
size-large = 32px

padding-small = 1px
padding-normal = 3px
padding-large = 5px

padding-extend-small = 4px
padding-extend-normal = 6px
padding-extend-large = 8px

content-size-small = 13px
content-size-normal = 16px
content-size-large = 20px

font-size-small = 10px
font-size-normal = 12px
font-size-large = 16px

border-radius-size-small = 4px
border-radius-size-normal = 6px
border-radius-size-large = 8px

gap-small = 2px
gap-normal = 5px
gap-large = 7px

// for description
major-opacity = 60%
major-opacity-disabled = 50%
// for shortcut
minor-opacity = 40%
icon-secondary-opacity = 20%

// border
border-width = 1px
solid-border = border-width var(--border-color-normal) solid
solid-border-disabled = border-width var(--border-color-disabled) solid
solid-border-active = border-width var(--border-color-active) solid
solid-border-active-disabled = border-width var(--border-color-active-disabled) solid

relation-width = 1px
relation-border = relation-width var(--border-color-normal) solid
relation-border-active = relation-width var(--focus-color) solid

panel-border-width = 1px
panel-padding = 4px
panel-border-radius-small = border-radius-size-small + panel-padding
panel-border-radius-normal = border-radius-size-normal + panel-padding
panel-border-radius-large = border-radius-size-large + panel-padding
panel-border = panel-border-width var(--border-color-normal) solid

focus-width = 1.75px
focus-offset = - focus-width

// colors

background = #1f1f1f
panel-drop-shadow = 0 3px 6px -1px rgba(10, 9, 9, 0.54), 0 10px 10px 4px rgba(26, 26, 26, 0.22)
scroll-indicator-color = rgba(0, 0, 0, 0.31)
panel-color = #1f1f1f
attachment-color = #363636
attachment-color-disabled = #292929
focus-color = #75b4fc
border-color-normal = #121212
border-color-disabled = #1a1a1a
border-color-active = #121212
border-color-active-disabled = #1c1c1c
color-normal = #292929
color-hover = #2e2e2e
color-pressed = #333
color-disabled = #222
color-active = #285dc0
color-active-hover = #3467c5
color-active-pressed = #3262bc
color-active-disabled = #273143
font-color-normal = #b3b3b3
font-color-hover = #b3b3b3
font-color-pressed = #ccc
font-color-disabled = #4d4d4d
font-color-active = #eeeeee
font-color-active-hover = #eeeeee
font-color-active-pressed = #e4e4e4
font-color-active-disabled = #4d6582
placeholder-color = #4b4b4b
placeholder-color-disabled = #2e2e2e

// background = rgb(245, 245, 245)
// panel-drop-shadow = 0 3px 6px -1px rgba(0, 0, 0, 0.05), 0 10px 10px 4px rgba(0, 0, 0, 0.01)
// scroll-indicator-color = rgba(0, 0, 0, 0.075)
// panel-color = #ffffff
// attachment-color = #ffffff
// attachment-color-disabled = #f8f8f8
// focus-color = #58a6ff
// border-color-normal = #d3d3d3
// border-color-disabled = #e1e1e1
// border-color-active = #d3d3d3
// border-color-active-disabled = #e1e1e1
// placeholder-color = #a3a3a3
// placeholder-color-disabled = #dcdcdc
// color-normal = #f7f7f7
// color-hover = #f2f2f2
// color-pressed = #ecf6ff
// color-disabled = #fdfdfd
// color-active = #e1efff
// color-active-hover = #d0e6ff
// color-active-pressed = #c2deff
// color-active-disabled = #eff6ff
// font-color-normal = #4f4f4f
// font-color-hover = #4f4f4f
// font-color-pressed = #0073ff
// font-color-disabled = #c8c8c8
// font-color-active = #0073ff
// font-color-active-hover = #0073ff
// font-color-active-pressed = #0073ff
// font-color-active-disabled = #b4d4fb