// sizes
size-small = 18px
size-normal = 24px
size-large = 32px

padding-small = 1px
padding-normal = 4px
padding-large = 6px

content-size-small = size-small - padding-small * 2
content-size-normal = size-normal - padding-normal * 2
content-size-large = size-large - padding-large * 2
    
font-size-small = 10px
font-size-normal = 12px
font-size-large = 16px

border-radius-size-small = 4px
border-radius-size-normal = 8px
border-radius-size-large = 10px

gap-small = 2px
gap-normal = 3px
gap-large = 6px

focus-width = 3px

// colors
focus-color = rgba(79, 79, 79, 0.4)

color-normal = #e8e8e8
color-hover = #e4e4e4
color-pressed = #4f4f4f
color-disabled = #f0f0f0

color-active = #4f4f4f
color-active-hover = #606060
color-active-pressed = #e7e7e7
color-active-disabled = #b0b0b0

font-color-normal = #4f4f4f
font-color-hover = #4f4f4f
font-color-pressed = #ffffff
font-color-disabled = #c8c8c8

font-color-active = #ffffff
font-color-active-hover = #ffffff
font-color-active-pressed = #4f4f4f
font-color-active-disabled = #ffffff