@import './SunDesignStyleConstants.styl';

.__sun-design__

    appearance: none
    min-width: 0
    min-height: 0
    border: none
    font-family: sans-serif, Arial, Helvetica
    box-sizing: border-box
    user-select: none
    outline-offset: 0px

    input
        color: inherit
        font-size: inherit

        &::placeholder
            color: var(--placeholder-color)
            opacity: 1; /* Firefox */

    &.color-def
        --panel-color:  panel-color
        --focus-color:  focus-color
        --border-color-normal: border-color-normal
        --border-color-disabled: border-color-disabled
        --border-color-active-disabled: border-color-active-disabled
        --color-normal:  color-normal
        --color-hover:  color-hover
        --color-pressed:  color-pressed
        --color-disabled:  color-disabled
        --color-active:  color-active
        --color-active-hover:  color-active-hover
        --color-active-pressed:  color-active-pressed
        --color-active-disabled:  color-active-disabled
        --font-color-normal:  font-color-normal
        --font-color-hover:  font-color-hover
        --font-color-pressed:  font-color-pressed
        --font-color-disabled:  font-color-disabled
        --font-color-active:  font-color-active
        --font-color-active-hover:  font-color-active-hover
        --font-color-active-pressed:  font-color-active-pressed
        --font-color-active-disabled:  font-color-active-disabled
        --placeholder-color:  placeholder-color
        --placeholder-color-disabled:  placeholder-color-disabled

    // colors
    &.colored
        background-color: var(--color-normal)
        color: var(--font-color-normal)
        
        &::placeholder
            color: var(--placeholder-color)
            opacity: 1; /* Firefox */

        &:focus-visible
            outline: focus-width var(--focus-color) solid
            outline-offset: focus-offset

        &:hover, &.hover
            background-color: var(--color-hover)
            color: var(--font-color-hover)

        &:active
            background-color: var(--color-pressed)
            color: var(--font-color-pressed)

        &:disabled, &.disabled
            background-color: var(--color-disabled)
            color: var(--font-color-disabled)
            &::placeholder
                color: var(--placeholder-color-disabled)

        &.active, &:checked
            background-color: var(--color-active)
            color: var(--font-color-active)
            &:hover, &.hover
                background-color: var(--color-active-hover)
                color: var(--font-color-active-hover)
            &:active
                background-color: var(--color-active-pressed)
                color: var(--font-color-active-pressed)
            &:disabled, &.disabled
                background-color: var(--color-active-disabled)
                color: var(--font-color-active-disabled)
                &::placeholder
                    color: var(--placeholder-color-disabled)

        &.flat
            background-color: transparent
            &:hover, &.hover
                background-color: var(--color-normal)
                color: var(--font-color-normal)
            &:active
                background-color: var(--color-pressed)
                color: var(--font-color-pressed)
            &:disabled, &.disabled
                background-color: transparent
                color: var(--font-color-disabled)
                &::placeholder
                    color: var(--placeholder-color-disabled)

        &.no-pressed-color, &.flat.no-pressed-color
            &:active
                background-color: var(--color-hover)
                color: var(--font-color-hover)
                &.active
                    background-color: var(--color-active-pressed)
                    color: var(--font-color-active-pressed)

            &:disabled, &.disabled
                background-color: var(--color-disabled)
                color: var(--font-color-disabled)

                &.flat
                    background-color: transparent

            &.no-hover-color
                &:active
                    background-color: var(--color-normal)
                    color: var(--font-color-normal)

                &:disabled, &.disabled
                    background-color: var(--color-disabled)
                    color: var(--font-color-disabled)

                &.flat
                    background-color: transparent
        
        &.no-hover-color
            background-color: var(--color-normal)
            color: var(--font-color-normal)
    
        &.active, &:checked
            background-color: var(--color-active)
            color: var(--font-color-active)
            &:hover, &.hover
                background-color: var(--color-active-hover)
                color: var(--font-color-active-hover)
            &:active
                background-color: var(--color-active-pressed)
                color: var(--font-color-active-pressed)
            &:disabled, &.disabled
                background-color: var(--color-active-disabled)
                color: var(--font-color-active-disabled)
                &::placeholder
                    color: var(--placeholder-color-disabled)
    
    input, button, textarea
        &:disabled, &.disabled
            pointer-events: none
            
    &.bordered
        border: solid-border
        &:disabled, &.disabled
            border: solid-border-disabled
        &.active, &:checked
            &:disabled, &.disabled
                border: solid-border-active-disabled
        
    // size
    &.sized
        &[data-size="small"]
            min-height: size-small
            font-size: font-size-small
            border-radius: border-radius-size-small
            padding: padding-small padding-extend-small
            gap: gap-small

            &.squared
                min-width: size-small

            &.equal-padding
                padding: padding-small

            &.rounded
                border-radius: (size-small / 2)

        &[data-size="normal"]
            min-height: size-normal
            font-size: font-size-normal
            border-radius: border-radius-size-normal
            padding: padding-normal padding-extend-normal
            gap: gap-normal

            &.squared
                min-width: size-normal

            &.equal-padding
                padding: padding-normal

            &.rounded
                border-radius: (size-normal / 2)

        &[data-size="large"]
            min-height: size-large
            font-size: font-size-large
            border-radius: border-radius-size-large
            padding: padding-large padding-extend-large
            gap: gap-large

            &.squared
                min-width: size-large

            &.equal-padding
                padding: padding-large

            &.rounded
                border-radius: (size-large / 2)

    &.border-masked
        // border mask
        &[data-border-mask="0"]
    	    border-radius: 0 0 0 0

        &[data-border-mask="8"]
    	    // border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="4"]
    	    border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="2"]
    	    border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="1"]
    	    border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="3"]
    	    border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="5"]
    	    border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="6"]
    	    border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="7"]
    	    border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="9"]
    	    // border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="10"]
    	    // border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="11"]
    	    // border-top-left-radius: 0
    	    border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="12"]
    	    // border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="13"]
    	    // border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0

        &[data-border-mask="14"]
    	    // border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    border-bottom-left-radius: 0

        &[data-border-mask="15"]
    	    // border-top-left-radius: 0
    	    // border-top-right-radius: 0
    	    // border-bottom-right-radius: 0
    	    // border-bottom-left-radius: 0